<h1>Community Forum</h1>

<a href="{% url 'main:create_post' %}">
  <button>+ Add Post</button>
</a>

<a href="?filter=all">
  <button type="button">All Posts</button>
</a>
<a href="?filter=my">
  <button type="button">My Posts</button>
</a> 

<hr>

{% if not post_list %}
  <p>Belum ada postingan di forum komunitas.</p>
{% else %}
    {% for post in post_list %}
    <div>
    <h2>
        <a href="{% url 'main:show_post' post.id %}">{{ post.title }}</a>
    </h2>

    <p>
        {% if post.is_post_hot %}<b>🔥 Hot</b> | {% endif %}
        <i>{{ post.created_at|date:"d M Y H:i" }}</i> |
        Views: {{ post.post_views }} |
        Author: {{ post.author.username }}
    </p>

    <p>{{ post.content|truncatewords:25 }}...</p>

    <p>
        <a href="{% url 'main:show_post' post.id %}">
        <button>Read More</button>
        </a>

        {% if user.is_authenticated and post.author == user %}
        <a href="{% url 'main:edit_post' post.pk %}">
            <button>Edit</button>
        </a>
        <a href="{% url 'main:delete_post' post.pk %}">
            <button>Delete</button>
        </a>
        {% endif %}
    </p>
    </div>
    <hr>
    {% endfor %}
{% endif %}
