{% extends 'base.html' %} {% block meta %}
<title>gas.in | Event Maker</title>
{% endblock meta %} {% block content%}
<div class="relative min-h-screen pt-32 pb-20 px-20 flex flex-col gap-10">
  <div class="flex flex-col gap-2">
    <h2 class="text-3xl font-bold">Create New Event</h2>
    <p class="text-gray-500">Let's create event yourself</p>
  </div>

  <div class="w-full p-8 rounded-lg border-2 border-gray-500">
    <form
      id="event-form"
      action="{% url 'create_event' %}"
      method="POST"
      class="w-full"
    >
      {% csrf_token %}
      <div class="flex w-full gap-10">
        <div class="flex flex-col gap-3 w-1/2">
          <div class="flex flex-col gap-1 w-full">
            <label for="name" class="font-semibold text-xl">Event Name</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              class="bg-gray-200 rounded-md py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="description" class="font-semibold text-xl"
              >Description</label
            >
            <textarea
              id="description"
              name="description"
              rows="3"
              class="bg-gray-200 rounded-md py-2 px-2 focus:outline-none text-lg"
            ></textarea>
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="date" class="font-semibold text-xl">Date</label>
            <input
              type="date"
              id="date"
              name="date"
              required
              class="bg-gray-200 rounded-md py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="location" class="font-semibold text-xl">Location</label>
            <input
              type="text"
              id="location"
              name="location"
              required
              class="bg-gray-200 rounded-md py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="category" class="font-semibold text-xl">Category</label>
            <select
              id="category"
              name="category"
              class="bg-gray-200 rounded-md py-2 px-2 focus:outline-none text-lg"
            >
              <option value="running">Lari</option>
              <option value="badminton">Badminton</option>
              <option value="football">Sepak Bola</option>
              <option value="basketball">Basket</option>
              <option value="cycling">Sepeda</option>
              <option value="volleyball">Voli</option>
              <option value="yoga">Yoga</option>
              <option value="padel">Padel</option>
              <option value="other">Lainnya</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col w-1/2">
          <div class="flex flex-col gap-1 w-full">
            <label for="thumbnail" class="font-semibold text-xl"
              >Thumbnail</label
            >

            <label
              for="thumbnail"
              class="flex flex-col items-center justify-center w-full h-48 border-2 border-dashed border-gray-400 rounded-xl cursor-pointer hover:bg-gray-200 transition"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-12 h-12 text-gray-500 mb-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4v16m8-8H4"
                />
              </svg>
              <p class="text-gray-600 text-lg">Upload thumbnail</p>
              <p class="text-gray-400 text-sm">PNG, JPG, or JPEG (max 5MB)</p>
            </label>

            <input
              id="thumbnail"
              name="thumbnail"
              type="file"
              accept="image/*"
              class="hidden"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-center w-full">
    <button
      type="submit"
      form="event-form"
      class="rounded-lg bg-gray-100 text-2xl font-semibold px-5 py-3"
    >
      Create Event
    </button>
  </div>
</div>
{% endblock content %}
