{% extends 'base.html' %} {% load static %} {% block meta %}
<title>gas.in | Event Maker</title>
{% endblock meta %} {% block content%}
<div
  class="relative min-h-screen pt-32 pb-20 px-20 max-lg:px-12 flex flex-col gap-10 lg:gap-14"
>
  <button
    id="back-btn"
    class="rounded-lg bg-gradient-to-r from-blue-400 to-purple-400 p-0.5 overflow-hidden w-fit"
  >
    <div class="group py-2 px-4 flex gap-2.5 items-center">
      <img
        src="{% static 'image/right-arrow.png' %}"
        alt="arrow"
        class="invert rotate-180 w-4 h-auto group-hover:-translate-x-0.5 transition-all transform duration-300"
      />
      <h2 class="text-lg font-semibold text-white">Back</h2>
    </div>
  </button>

  <div class="flex flex-col gap-3">
    <h2
      class="text-5xl max-lg:text-3xl max-md:text-2xl max-lg:text-center font-bold"
    >
      Edit Event
    </h2>
    <p class="text-gray-500 text-xl max-lg:text-lg max-lg:text-center">
      Update your event details
    </p>
  </div>

  <div class="w-full p-8 rounded-xl shadow-2xl border-1">
    <form id="event-form" method="POST" class="w-full">
      {% csrf_token %}
      <div class="flex max-lg:flex-col w-full gap-10">
        <div class="flex flex-col gap-3 w-1/2 max-lg:w-full">
          <div class="flex flex-col gap-1 w-full">
            <label for="name" class="font-semibold text-xl max-md:text-lg"
              >Event Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              required
              class="bg-white border-purple-400 focus:shadow-xl focus:ring-1 focus:ring-purple-200 border-2 rounded-lg py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label
              for="description"
              class="font-semibold text-xl max-md:text-lg"
              >Description</label
            >
            <textarea
              id="description"
              name="description"
              rows="3"
              class="bg-white border-purple-400 focus:shadow-xl focus:ring-1 focus:ring-purple-200 border-2 rounded-lg py-2 px-2 focus:outline-none text-lg"
            ></textarea>
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="date" class="font-semibold text-xl max-md:text-lg"
              >Date</label
            >
            <input
              type="date"
              id="date"
              name="date"
              required
              class="bg-white border-purple-400 focus:shadow-xl focus:ring-1 focus:ring-purple-200 border-2 rounded-lg py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="location" class="font-semibold text-xl max-md:text-lg"
              >Location</label
            >
            <input
              type="text"
              id="location"
              name="location"
              required
              class="bg-white border-purple-400 focus:shadow-xl focus:ring-1 focus:ring-purple-200 border-2 rounded-lg py-2 px-2 focus:outline-none text-lg"
            />
          </div>

          <div class="flex flex-col gap-1 w-full">
            <label for="category" class="font-semibold text-xl max-md:text-lg"
              >Category</label
            >
            <select
              id="category"
              name="category"
              class="bg-white border-purple-400 focus:shadow-xl focus:ring-1 focus:ring-purple-200 border-2 rounded-lg py-2 px-2 focus:outline-none text-lg"
            >
              <option value="running">Lari</option>
              <option value="badminton">Badminton</option>
              <option value="football">Sepak Bola</option>
              <option value="futsal">Futsal</option>
              <option value="basketball">Basket</option>
              <option value="cycling">Sepeda</option>
              <option value="volleyball">Voli</option>
              <option value="yoga">Yoga</option>
              <option value="padel">Padel</option>
              <option value="other">Lainnya</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col w-1/2 max-lg:w-full">
          <div class="flex flex-col gap-1 w-full">
            <label for="thumbnail" class="font-semibold text-xl max-md:text-lg">
              Thumbnail
            </label>

            <label
              for="thumbnail"
              id="thumbnail-label"
              class="flex flex-col items-center justify-center w-full h-56 border-2 border-dashed border-purple-400 rounded-xl cursor-pointer hover:bg-gray-200 transition relative overflow-hidden"
            >
              <div
                id="thumbnail-placeholder"
                class="flex flex-col items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12 text-gray-500 mb-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
                <p class="text-gray-600 text-lg">Upload thumbnail</p>
                <p class="text-gray-400 text-sm">PNG, JPG, or JPEG (max 5MB)</p>
              </div>

              <img
                id="thumbnail-preview"
                src=""
                alt="preview"
                class="hidden absolute w-full h-full object-cover"
              />
            </label>

            <input
              id="thumbnail"
              name="thumbnail"
              type="file"
              accept="image/*"
              class="hidden"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-center w-full">
    <button
      type="submit"
      form="event-form"
      class="rounded-lg bg-gradient-to-r from-blue-400 to-purple-400 hover:shadow-xl hover:-translate-y-0.5 duration-300 text-white hover:brightness-90 transform transition-all text-2xl max-md:text-xl font-semibold px-5 py-3 max-md:px-3 max-md:py-2"
    >
      Save
    </button>
  </div>
</div>
<script>
  const form = document.getElementById("event-form");
  const thumbnailInput = document.getElementById("thumbnail");
  const thumbnailLabel = document.getElementById("thumbnail-label");
  const thumbnailPreview = document.getElementById("thumbnail-preview");
  const placeholder = document.getElementById("thumbnail-placeholder");
  const eventId = "{{ event_id }}";
  const backBtn = document.getElementById("back-btn");

  async function fetchData() {
    try {
      const response = await fetch(`/event-maker/${eventId}/`, {
        method: "GET",
      });

      const result = await response.json();

      if (!response.ok) {
        showToast(result.message, "", "error");
        return;
      }

      const data = result.data;

      if (!data) {
        showToast("No event data found", "", "error");
        return;
      }

      const rawDate = data.date;
      const dateObj = new Date(rawDate);
      const formattedDate = dateObj.toISOString().split("T")[0];

      document.getElementById("name").value = data.name || "";
      document.getElementById("description").value = data.description || "";
      document.getElementById("date").value = formattedDate || "";
      document.getElementById("location").value = data.location || "";
      document.getElementById("category").value = data.category || "";
      if (data.thumbnail) {
        const thumbnailUrl = `${window.location.origin}${data.thumbnail}`;
        thumbnailPreview.setAttribute("src", thumbnailUrl);
        thumbnailPreview.classList.remove("hidden");
        placeholder.classList.add("hidden");
        thumbnailLabel.classList.remove("border-dashed");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }

  thumbnailInput.addEventListener("change", (e) => {
    const file = e.target.files[0];

    if (file) {
      placeholder.classList.add("hidden");
      thumbnailLabel.classList.remove("border-dashed");

      const reader = new FileReader();
      reader.onload = function (event) {
        thumbnailPreview.setAttribute("src", event.target.result);
        thumbnailPreview.classList.remove("hidden");
      };
      reader.readAsDataURL(file);
    } else {
      placeholder.classList.remove("hidden");
      thumbnailLabel.classList.add("border-dashed");
      thumbnailPreview.setAttribute("src", "");
      thumbnailPreview.classList.add("hidden");
    }
  });

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    try {
      const response = await fetch(`/event-maker/api/edit/${eventId}/`, {
        method: "POST",
        body: formData,
      });
      const result = await response.json();
      if (!response.ok) {
        showToast(result.message, "", "error");
        return;
      }
      showToast(result.message, "", "success");
      setTimeout(() => {
        window.location.href = `/event-maker/detail/${eventId}`;
      }, 1500);
    } catch (error) {
      console.error("Error:", error);
    }
  });

  backBtn.addEventListener("click", async (e) => {
    e.preventDefault();

    const currentUrl = window.location.pathname;  
    const id = currentUrl.split("/").filter(Boolean).pop(); 

    window.location.href = `/event-maker/detail/${id}/`;
  });

  document.addEventListener("DOMContentLoaded", fetchData);
</script>
{% endblock content %}
